.container {
  min-height: 100vh;
  padding-bottom: 20px;
  background-color: #FBFBFB;
}

.list {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.addButton {
  color: var(--primary);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.empty {
  text-align: center;
  color: #8E8E93;
  margin-top: 40px;
  font-size: 14px;
}